.dropcap,a:link,a:visited,.menu a:hover,.current a, .weblinks a:hover, 
.pagination span a,.current a span, .current ul li a:hover span, 
.parent a, #page .contentheading,.active_menu,.contentpane_vtem_popup a,
a.results, .contentpaneopen .readon:hover, .menu a:hover,.parent a, a, 
a:hover span, a.contentpagetitle:hover, #vt_bottom a, #vt_bottom a.results, .moduletable_infolates h4{ color:#cc0000 ;}
.readmore a:hover, .mostread li a:hover{ color:#cc0000 !important;}
a:hover{text-decoration:underline;}

#vtem_menu ul.menu_vtem_nav ul li a:hover,
#vtem_menu ul.menu_vtem_nav ul li a.hover:hover,
#vtem_menu ul.menu_vtem_nav li.current a span,
#vtem_menu ul.menu_vtem_nav ul li.current a,
#vtem_menu ul.menu_vtem_nav ul li.current a:hover,
#vtem_menu ul.menu_vtem_nav ul li a.hover,
#vtem_menu ul.menu_vtem_nav li ul li a.hover,
#vtem_menu ul.menu_vtem_nav li.active ul li a.hover,
#vtem_menu ul.menu_vtem_nav li ul li.active a,
#vtem_menu ul.menu_vtem_nav ul li.active a.hover,
#vtem_menu ul.menu_vtem_nav li.parent ul li ul li.current a,
#vtem_menu ul.menu_vtem_nav li.parent ul li.current ul li a:hover,
#vtem_menu ul.menu_vtem_nav li.parent ul li.current ul li a span:hover,
#vtem_menu ul.menu_vtem_nav ul li ul li.current a{ background-color:#cc0000; }

#vtem_menu ul.menu_vtem_nav li a:hover,
#vtem_menu ul.menu_vtem_nav li.active a,
#vtem_menu ul.menu_vtem_nav li a:hover, 
#vtem_menu ul.menu_vtem_nav li.active a, 
#vtem_menu ul.menu_vtem_nav li a.hover,
#vtem_menu ul.menu_vtem_nav li ul li.active a span,
#vtem_menu ul.menu_vtem_nav li ul li a.hover span,
#vtem_menu ul.menu_vtem_nav li ul li.active a.hover span{background:#cc0000;}

#vt_main_menu{ border-bottom:3px solid #cc0000;}
a.vt_button span, .button_round span.button_round1 span{ 
background: #c70202; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-linear-gradient(top,  #c70202 0%, #af0000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c70202), color-stop(100%,#af0000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c70202 0%,#af0000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c70202 0%,#af0000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c70202 0%,#af0000 100%); /* IE10+ */
background: linear-gradient(top,  #c70202 0%,#af0000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c70202', endColorstr='#af0000',GradientType=0 ); /* IE6-8 */


}
a.vt_button:hover span, .button_round:hover span.button_round1 span{ 
background: #af0000; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-linear-gradient(top,  #af0000 0%, #c70202 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#af0000), color-stop(100%,#c70202)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #af0000 0%,#c70202 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #af0000 0%,#c70202 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #af0000 0%,#c70202 100%); /* IE10+ */
background: linear-gradient(top,  #af0000 0%,#c70202 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af0000', endColorstr='#c70202',GradientType=0 ); /* IE6-8 */


}
#vt_top .search{background:url(../../images/vt_bg_search_style2.png) left no-repeat;}

#vtem_menu ul.menu_vtem_dropline li.active a span,
#vtem_menu ul.menu_vtem_dropline li.vtem_hover a span,
#vtem_menu ul.menu_vtem_dropline li.active a,
#vtem_menu ul.menu_vtem_dropline li.vtem_hover a{
background-color:#cc0000;
}
#vtem_menu ul.menu_vtem_dropline li.active ul{background-color:#cc0000 !important; display:block !important;}
	